{% extends 'dummy.html' %}


{% block title %}
    <title>Change password</title>
{% endblock %}

{% block body_block %}

    <center>
        <h1> Change_password</h1>
        <form method="POST">

            {% csrf_token %}
            
            <label for="pw">New password</label>
            <input type="password" name="pw" id="pw"><br><br>

            <label for="rpw">Re-enter password</label>
            <input type="password" name="rpw" id="rpw"><br><br>

            <input type="submit" value="change_password">

        </form>
    </center>
{% endblock %}